<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_ASSISTANT_APP_SEARCH_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YalaTour"
        tools:targetApi="31">
        <activity
            android:name=".EditActivities.EditMemoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FullScreenMediaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlaceinTrip"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity.TripDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.SelectingPlacesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TripActivity"
            android:exported="false" />

        <activity
            android:name=".EditActivities.EditPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivities.UploadPlaceActivity"
            android:exported="false" />
        <activity android:name=".UploadActivities.UploadPostActivity" />
        <activity
            android:name=".Activities.FavoritePage"
            android:exported="false" />
        <activity
            android:name=".Adapters.TourismPlaceAdapter"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity.PlacesDetails"
            android:exported="false" />

        <activity
            android:name=".Activities.TourismPlaces"
            android:exported="false" />
        <activity
            android:name=".Activities.CityActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivities.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomePage"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginPage"
            android:exported="false" />
        <activity
            android:name=".Activities.SignupPage"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Classes.MessageService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="YalaTour.5" />
    </application>

</manifest>